[paths]
source =
   click_signatures
   */click_signatures

[run]
source =
    click_signatures

omit =
    *click_signatures/__main__.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
